.game-container {
width: 800px;

}

.number {
  width: 100px;
  height: 300px;
}

.backgammon-board {
  display: flex;
 width: 800px;
 height: 600px;
 background-image: url('./assets/backgammon.jpg');
background-size: contain;
}
