.game-container {
  display: flex;
  flex-direction: column;
width: 100%;

}

.backgammon-board {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

}

.board-image {
   height: 700px;
}